[default]
access_key = {{ access_key }}
secret_key = {{ secret_key }}
host_base = s3.oblivionone.com
host_bucket = s3.oblivionone.com
enable_multipart = True
multipart_chunk_size_mb = 15
use_https = True
